:root {
  --font-family: "OpenSans";
  --content-width: 1350px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --colorMain: #333333;
  --blueBg: #EAF4FB;
  --mainBg: #e5e5e5;
  --colorBlue: #005d95;
  --colorYellow: #ffc107;
  --colorWhite: #ffffff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.all_pages {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 101;
}
.all_pages:hover ul {
  right: 0;
}
.all_pages .page_point {
  padding: 10px 15px;
  background: #00d2ff;
  cursor: pointer;
}
.all_pages ul {
  background: #00D2FF;
  padding: 15px 20px;
  position: absolute;
  top: 61%;
  width: 200px;
  right: -200px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  max-height: 450px;
  overflow-y: auto;
}
.all_pages ul li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 16px;
}
.all_pages ul li a {
  color: #fff;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  font-size: 15px;
  font-weight: 400;
  color: var(--colorMain);
  position: relative;
}
.page__body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260vh;
  height: 260vh;
  background-color: #EAF4FB;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1400px) {
  .page__body:after {
    width: 200vh;
    height: 200vh;
  }
}
@media (max-width: 992px) {
  .page__body:after {
    width: 150vh;
    height: 150vh;
  }
}
@media (max-width: 768px) {
  .page__body:after {
    width: 100vh;
    height: 100vh;
  }
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.title-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 768px) {
  .title-big {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 576px) {
  .title-big {
    font-size: 25px;
    line-height: 30px;
  }
}

.title-medium {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
@media (max-width: 576px) {
  .title-medium {
    font-size: 22px;
    line-height: 26px;
  }
}

.title-sm {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 576px) {
  .title-sm {
    font-size: 18px;
    line-height: 24px;
  }
}

.btn {
  background: var(--colorBlue);
  border: 2px solid var(--colorBlue);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--colorWhite);
  padding: 20px 75px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
@media (max-width: 768px) {
  .btn {
    padding: 12px 50px;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 8px 20px;
    font-size: 12px;
  }
}
.btn:hover {
  -webkit-box-shadow: 1px 1px 7px var(--colorBlue);
  box-shadow: 1px 1px 7px var(--colorBlue);
  color: #d4d3d3;
}

.btn-sm {
  background: var(--colorBlue);
  border: 2px solid var(--colorBlue);
  border-radius: 30px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--colorWhite);
  padding: 10px 29px;
  max-width: 180px;
  display: inline-block;
}
.btn-sm:hover {
  -webkit-box-shadow: 1px 1px 7px var(--colorBlue);
  box-shadow: 1px 1px 7px var(--colorBlue);
  color: #d4d3d3;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 3;
}
.header.backgroundWhite {
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid rgba(50, 62, 72, 0.3);
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  z-index: 100;
}
@media (max-width: 576px) {
  .header__logo img {
    width: 70%;
  }
}
.header .nav-header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .nav-header > ul > li {
  margin-left: 5px;
}
.header .nav-header > ul > li:first-child {
  margin-left: 0;
}
@media (max-width: 1200px) {
  .header .nav-header > ul > li {
    margin-left: 5px;
  }
}
@media (max-width: 1128px) {
  .header .nav-header > ul > li {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .header .nav-header > ul > li {
    margin-bottom: 20px;
    position: relative;
  }
}
@media (max-width: 576px) {
  .header .nav-header > ul > li {
    margin-bottom: 15px;
  }
}
@media (max-height: 450px) {
  .header .nav-header > ul > li {
    margin-bottom: 5px !important;
  }
}
.header .nav-header > ul > li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--colorMain);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  padding: 5px 10px;
  -webkit-transition: color 0.3s ease 0.2s;
  -o-transition: color 0.3s ease 0.2s;
  transition: color 0.3s ease 0.2s;
  /* &:hover {
    color: var(--colorBlue);
  } */
}
@media (max-width: 1091px) {
  .header .nav-header > ul > li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 1012px) {
  .header .nav-header > ul > li a {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-height: 450px) {
  .header .nav-header > ul > li a {
    font-size: 14px !important;
  }
}
.header .nav-header > ul > li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--colorBlue);
  -webkit-transition: width 0.2s ease 0s, height 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0s, height 0.2s ease 0.3s;
  transition: width 0.2s ease 0s, height 0.2s ease 0.3s;
  z-index: -1;
}
@media (max-width: 992px) {
  .header .nav-header > ul > li a:before {
    background: none !important;
  }
}
.header .nav-header > ul > li a:hover:before {
  width: 100%;
  height: 100%;
  background: var(--colorBlue);
}
@media (max-width: 992px) {
  .header .nav-header > ul > li a:hover:before {
    background: none !important;
  }
}
.header .nav-header > ul > li a:hover {
  color: #fff;
}
@media (max-width: 992px) {
  .header .nav-header > ul > li a:hover {
    color: var(--colorBlue);
  }
}
.header .nav-header > ul > li a.active {
  color: var(--colorBlue);
}
.header .nav-header > ul > li a.active:hover {
  color: var(--colorWhite);
}
@media (max-width: 1065px) {
  .header .nav-header > ul > li a {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .header .nav-header > ul > li a {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .header .nav-header > ul > li a {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .header .nav-header > ul {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--colorWhite);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .header .nav-header > ul.menu--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.header .burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header .burger {
    display: block;
    z-index: 100;
  }
}

.footer {
  padding-top: 60px;
  background-color: #00131E;
  color: var(--colorWhite);
}
@media (max-width: 576px) {
  .footer {
    padding-top: 45px;
  }
}
.footer a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: var(--colorWhite);
}
.footer a:hover {
  color: var(--colorBlue);
  text-decoration: underline;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.footer__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}
@media (max-width: 768px) {
  .footer__block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .footer__block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.footer__block > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__block > ul > li {
  margin-top: 10px;
  line-height: 20px;
}
@media (max-width: 576px) {
  .footer__block {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .footer__block:first-child {
    padding-right: 20px;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .footer__block:first-child {
    padding-right: 0;
  }
}
.footer__glasdoor {
  margin-top: 30px;
}
@media (max-width: 576px) {
  .footer__glasdoor {
    margin-top: 15px;
  }
}
.footer__social {
  margin-top: 30px;
}
.footer__social a {
  display: inline-block;
  margin-right: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__social a:hover {
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.56);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.56);
}
.footer__social a .svg {
  width: 30px;
  height: 30px;
  background-color: #00131E;
  font-size: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__social a .svg:hover {
  background-color: var(--colorBlue);
}
.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__copy {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.footer__phone {
  padding-left: 35px;
  background-image: url("../img/phone-svgrepo-com.svg");
  background-position: -2px 0px;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .footer__phone {
    background-image: none;
    padding-left: 0;
  }
}
.footer__email {
  padding-left: 35px;
  background-image: url("../img/mail-svgrepo-com.svg");
  background-position: left 1px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .footer__email {
    background-image: none;
    padding-left: 0;
  }
}
.footer__url {
  padding-left: 35px;
  background-image: url("../img/www-svgrepo-com.svg");
  background-position: -2px 4px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .footer__url {
    background-image: none;
    padding-left: 0;
  }
}

.address a {
  display: block;
  margin-top: 10px;
}
.address address {
  margin-top: 10px;
  line-height: 30px;
  padding-left: 35px;
  background-image: url("../img/location-svgrepo-com.svg");
  background-position: left 7px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .address address {
    background-image: none;
    padding-left: 0;
  }
}

.block__name {
  font-weight: 700;
  line-height: 20px;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 75px;
  background-color: #00080D;
}
@media (max-width: 768px) {
  .copyright {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .copyright {
    font-size: 12px;
  }
}

.copy-footer {
  font-size: 13px;
  line-height: 20px;
  color: #CCCCCC;
}
.copy-footer a {
  color: #CCCCCC;
  text-decoration: underline;
}
.copy-footer a:hover {
  text-decoration: none;
}
@media (max-width: 576px) {
  .copy-footer {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .copy-footer__left {
    max-width: 55%;
  }
  .copy-footer__left p {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .copy-footer__left {
    max-width: 100%;
  }
  .copy-footer__left p {
    display: block;
    margin: 0 auto;
  }
}
.copy-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.copy-footer__links a {
  margin: 0 10px;
  font-size: 13px;
  line-height: 20px;
  color: #CCCCCC;
  width: 100%;
}
@media (max-width: 576px) {
  .copy-footer__links a {
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 576px) {
  .copy-footer__links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.copy-footer__privacy {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .copy-footer__privacy {
    font-size: 12px !important;
  }
}
.copy-footer__cookie {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .copy-footer__cookie {
    font-size: 12px !important;
  }
}

body {
  position: relative;
}

.page__body.lock {
  overflow: hidden;
}

.hero {
  padding-top: 180px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 150px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 100px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 80px;
  }
}
.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__block:first-child {
  margin-bottom: 150px;
}
@media (max-width: 992px) {
  .hero__block:first-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .hero__block:first-child {
    margin-bottom: 50px;
  }
}
.hero__block:first-child .hero__info {
  max-width: 550px;
  padding-right: 30px;
}
@media (max-width: 992px) {
  .hero__block:first-child .hero__info {
    padding-right: 0;
  }
}
.hero__block:first-child .hero__img {
  text-align: right;
}
@media (max-width: 992px) {
  .hero__block:first-child .hero__img {
    text-align: center;
  }
}
.hero__block:last-child .hero__img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
@media (max-width: 992px) {
  .hero__block:last-child .hero__img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}
.hero__block:last-child .hero__info {
  max-width: 660px;
  padding-left: 30px;
}
@media (max-width: 992px) {
  .hero__block:last-child .hero__info {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.hero__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
@media (max-width: 992px) {
  .hero__info {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero__info p.hero__name {
    margin: 10px 0;
    font-size: 18px;
  }
}
.hero__btn {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .hero__btn {
    margin-top: 15px;
  }
}
.hero__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
@media (max-width: 768px) {
  .hero__img {
    text-align: center;
  }
  .hero__img img {
    width: 80%;
  }
}
.hero__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.hero__text {
  line-height: 20px;
}

.partner {
  padding-top: 140px;
}
@media (max-width: 1200px) {
  .partner {
    padding-top: 80px;
  }
}
@media (max-width: 576px) {
  .partner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.partner__title {
  text-align: center;
}
.partner__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1289px) {
  .partner__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
  }
}
.partner__item {
  width: 315px;
  min-height: 430px;
  text-align: center;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .partner__item {
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
    border-radius: 10px;
  }
}
.partner__item:hover {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
  border-radius: 10px;
}
.partner__item:hover .partner__btn {
  visibility: visible;
  opacity: 1;
}
.partner__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.partner__btn {
  margin: 30px auto 0 auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .partner__btn {
    visibility: visible;
    opacity: 1;
  }
}
.partner__text {
  margin-top: 10px;
  font-weight: 400;
  line-height: 20px;
}

.count {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: var(--blueBg);
  position: relative;
}
@media (max-width: 576px) {
  .count {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.count__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 992px) {
  .count__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .count__wrap {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.count__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .count__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .count__img {
    max-width: 80px;
  }
  .count__img img {
    width: 80%;
  }
}
.count__info {
  padding-left: 30px;
  line-height: 25px;
}
@media (max-width: 1200px) {
  .count__info {
    font-size: 13px;
    line-height: 18px;
    padding-left: 20px;
  }
}
@media (max-width: 576px) {
  .count__info {
    font-size: 10px;
    line-height: 16px;
  }
}
.count__info span {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
@media (max-width: 576px) {
  .count__info span {
    font-size: 25px;
    line-height: 35px;
  }
}
.count:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background-color: var(--colorWhite);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  width: 110%;
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
  height: 150px;
  z-index: 1;
}
@media (max-width: 768px) {
  .count:before {
    top: -10px;
  }
}
@media (max-width: 576px) {
  .count:before {
    position: static;
  }
}

.customers {
  background-color: var(--blueBg);
  padding-bottom: 150px;
  position: relative;
}
@media (max-width: 576px) {
  .customers {
    padding-bottom: 100px;
  }
}
.customers__title {
  text-align: center;
}
.customers .swiper-pagination {
  position: absolute;
  bottom: 100px;
  z-index: 1;
}
@media (max-width: 576px) {
  .customers .swiper-pagination {
    bottom: 60px;
  }
}
.customers .swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  background: var(--colorBlue);
  opacity: 0.2;
  border-radius: 3px;
}
.customers .swiper-pagination-bullet-active {
  background: #005D95;
  border-radius: 3px;
  width: 80px;
  opacity: 1;
}

.testimonials__slider {
  margin-top: 40px;
}

.slider-testimonials {
  position: relative;
}
.slider-testimonials__slide {
  width: 430px;
  height: auto;
  padding: 30px;
  background: var(--colorWhite);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .slider-testimonials__slide {
    padding: 20px 15px;
    max-width: 100% !important;
    height: auto;
  }
}
@media (max-width: 576px) {
  .slider-testimonials__slide {
    padding: 15px;
    width: 100% !important;
    height: auto;
  }
}
.slider-testimonials__raiting {
  color: var(--colorYellow);
}
.slider-testimonials__text {
  margin-top: 24px;
  line-height: 20px;
}
.slider-testimonials__names {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.team {
  padding-top: 200px;
  padding-bottom: 15px;
}
@media (max-width: 1200px) {
  .team {
    padding-top: 150px;
  }
}
@media (max-width: 992px) {
  .team {
    padding-top: 120px;
  }
}
@media (max-width: 576px) {
  .team {
    padding-top: 100px;
  }
}
.team__title {
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .team__title {
    margin-bottom: 25px;
  }
}
.team__block {
  margin-bottom: 90px;
}
.team__block:last-child {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .team__block {
    margin-bottom: 60px;
  }
}
.team__block_center .team__wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.team__title-blue {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorBlue);
}
@media (max-width: 768px) {
  .team__title-blue {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .team__title-blue {
    font-size: 20px;
    line-height: 26px;
  }
}
.team__subtitle {
  margin-top: 20px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
.team__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1379px) {
  .team__wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.team__item {
  width: 315px;
  cursor: pointer;
}
.team__img {
  overflow: hidden;
}
.team__img img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team__img img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.team__info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.team__names span {
  display: block;
}
.team__name {
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
}
.team__position {
  font-weight: 600;
  line-height: 25px;
}
.team__social a img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team__social a img:hover {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 93, 149, 0.8);
  box-shadow: 1px 1px 4px rgba(0, 93, 149, 0.8);
  background-color: rgba(0, 93, 149, 0.2);
}
.team__facebook {
  display: inline-block;
  margin-right: 5px;
}
.team__text {
  margin-top: 10px;
  line-height: 22px;
}

.contactus {
  background-color: var(--blueBg);
  padding-top: 180px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}
.contactus:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background-color: var(--colorWhite);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  width: 110%;
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
  height: 150px;
  z-index: 1;
}
@media (max-width: 768px) {
  .contactus:before {
    top: -10px;
  }
}
@media (max-width: 576px) {
  .contactus:before {
    position: static;
  }
}
@media (max-width: 768px) {
  .contactus {
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .contactus {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contactus__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .contactus__title {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .contactus__title {
    font-size: 22px;
    line-height: 26px;
  }
}
.contactus__btn {
  margin-top: 40px;
}

.services {
  padding-top: 180px;
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .services {
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .services {
    padding-top: 150px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .services {
    padding-top: 100px;
  }
}
@media (max-width: 576px) {
  .services {
    padding-top: 80px;
  }
}
.services__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .services__block-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
.services__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 650px;
  padding-right: 30px;
}
@media (max-width: 992px) {
  .services__info {
    padding-right: 0;
  }
}
.services__title-sm {
  margin-top: 20px;
}
.services__text {
  line-height: 20px;
  margin-top: 10px;
}
.services__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  text-align: right;
}
@media (max-width: 992px) {
  .services__img {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .services__img {
    text-align: center;
  }
  .services__img img {
    width: 80%;
  }
}
.services__content {
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
}
.services__content span {
  font-weight: 600;
}
@media (max-width: 992px) {
  .services__content {
    text-align: left;
  }
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  .service__block {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  .service__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
}
.service__block:last-child {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .service__block:last-child {
    margin-bottom: 20px;
  }
}
.service__block:last-child .service__info {
  padding-left: 0;
  padding-right: 30px;
}
@media (max-width: 992px) {
  .service__block:last-child .service__info {
    padding-right: 0;
  }
}
.service__block_flex .service__img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  text-align: left;
}
@media (max-width: 992px) {
  .service__block_flex .service__img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}
.service__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
@media (max-width: 1200px) {
  .service__info {
    padding-left: 30px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .service__info {
    padding-left: 0;
  }
}
.service__title-sm {
  margin-top: 30px;
}
.service__text {
  margin-top: 20px;
  line-height: 20px;
}
.service__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  text-align: right;
  position: relative;
}
.service__img.service-1:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--colorWhite);
  border: 40px solid var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-1:after {
    content: none;
  }
}
.service__img.service-1:after {
  bottom: 0px;
  right: 160px;
}
.service__img.service-2:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-2:after {
    content: none;
  }
}
.service__img.service-2:after {
  right: 0;
  top: 0;
}
.service__img.service-3:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--colorWhite);
  border: 40px solid var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-3:after {
    content: none;
  }
}
.service__img.service-3:after {
  left: -20px;
  bottom: 0;
}
.service__img.service-4:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-4:after {
    content: none;
  }
}
.service__img.service-4:after {
  top: 0px;
  left: 160px;
}
.service__img.service-4:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-4:before {
    content: none;
  }
}
.service__img.service-4:before {
  right: 0;
  bottom: 0;
}
.service__img.service-5:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-5:after {
    content: none;
  }
}
.service__img.service-5:after {
  bottom: -10px;
  right: 160px;
}
.service__img.service-6:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-6:after {
    content: none;
  }
}
.service__img.service-6:after {
  bottom: 0px;
  left: 0;
}
.service__img.service-7:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--blueBg);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service__img.service-7:after {
    content: none;
  }
}
.service__img.service-7:after {
  top: 0;
  left: 0;
}
@media (max-width: 992px) {
  .service__img {
    margin-top: 40px;
  }
}
.service .service-mb20 {
  margin-bottom: 20px !important;
}
@media (max-width: 992px) {
  .service .service-mb20 {
    margin-bottom: 0 !important;
  }
}
.service__list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.service__list > ul > li {
  padding-left: 18px;
  margin-bottom: 10px;
  position: relative;
}
.service__list > ul > li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--colorBlue);
}
.service__list > ul > li:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .service__list > ul {
    text-align: left;
    max-width: 64%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .service__list > ul {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .service__list > ul {
    max-width: 100%;
  }
}
.service .resourse__list > ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
}
.service .resourse__list > ol > li {
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;
  list-style: none;
  line-height: 20px;
}
@media (max-width: 992px) {
  .service .resourse__list > ol > li {
    margin-bottom: 40px;
    padding-left: 60px;
  }
}
@media (max-width: 576px) {
  .service .resourse__list > ol > li {
    margin-bottom: 20px;
    padding-left: 40px;
  }
}
.service .resourse__list > ol > li:last-child {
  margin-bottom: 0;
}
.service .resourse__list > ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 50px;
  font-weight: 700;
  border-radius: 50%;
  color: var(--colorWhite);
  background-color: var(--colorBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 992px) {
  .service .resourse__list > ol > li:before {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .service .resourse__list > ol > li:before {
    width: 30px;
    height: 30px;
    font-size: 14px;
    top: 2px;
  }
}
@media (max-width: 992px) {
  .service .resourse__list {
    text-align: left;
  }
}

.count-duplicate {
  margin-bottom: 175px;
  padding-top: 20px;
}
@media (max-width: 992px) {
  .count-duplicate {
    margin-bottom: 65px;
  }
}
@media (max-width: 768px) {
  .count-duplicate {
    margin-bottom: 30px;
  }
}
.count-duplicate__title-medium {
  text-align: center;
}
@media (max-width: 992px) {
  .count-duplicate__title-medium {
    margin-top: 40px;
  }
}
.count-duplicate__wrap {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1079px) {
  .count-duplicate__wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
}
.count-duplicate__item {
  text-align: center;
  width: 350px;
}
@media (max-width: 1079px) {
  .count-duplicate__item {
    margin: 20px 30px;
  }
}
.count-duplicate__info {
  margin-top: 30px;
  line-height: 25px;
}
.count-duplicate__info span {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.success-contact .contactus {
  padding-top: 0px;
}
.success-contact .contactus__title {
  margin-top: 0;
}
.success-contact .contactus:before {
  content: none;
}

.success-customers .customers {
  padding-top: 200px;
  position: relative;
}
.success-customers .customers:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background-color: var(--colorWhite);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  width: 110%;
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
  height: 150px;
  z-index: 1;
}
@media (max-width: 768px) {
  .success-customers .customers:before {
    top: -10px;
  }
}
@media (max-width: 576px) {
  .success-customers .customers:before {
    position: static;
  }
}
@media (max-width: 576px) {
  .success-customers .customers {
    padding-top: 40px;
  }
}

.testimonials {
  padding-bottom: 50px;
}
.testimonials__title-medium {
  text-align: center;
}
.testimonials__wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 992px) {
  .testimonials__wrap {
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.testimonials__item {
  width: 430px;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #EAF4FB;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.testimonials__item:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 576px) {
  .testimonials__item {
    width: 100%;
    padding: 20px;
  }
}
.testimonials__img {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonials__name {
  margin-top: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}
.testimonials__name span {
  font-size: 20px;
}
@media (max-width: 576px) {
  .testimonials__name {
    margin-top: 10px;
  }
}
.testimonials__text {
  line-height: 20px;
}
.testimonials__btn {
  margin: 50px auto 0 auto;
}
@media (max-width: 576px) {
  .testimonials__btn {
    margin-top: 30px;
  }
}

.oportunities, .questions {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .oportunities, .questions {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .oportunities, .questions {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.oportunities__title, .questions__title {
  text-align: center;
}
.oportunities .accordion, .questions .accordion {
  margin: 60px auto 0 auto;
  width: 100%;
  border-radius: 10px;
}
.oportunities .accordion-text, .questions .accordion-text {
  line-height: 20px;
}
.oportunities .accordion-header, .questions .accordion-header {
  border-radius: 10px;
}
.oportunities .accordion-item, .questions .accordion-item {
  margin-bottom: 10px;
  background: var(--colorWhite);
  border: 1px solid #CDE5F5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
  border-radius: 10px !important;
}
.oportunities .accordion-item:last-child, .questions .accordion-item:last-child {
  margin-bottom: 0;
}
.oportunities .accordion .accordion-button:not(.collapsed), .questions .accordion .accordion-button:not(.collapsed) {
  color: var(--colorMain);
}
.oportunities .accordion .accordion-button, .questions .accordion .accordion-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 10px;
  background-color: var(--colorWhite);
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px !important;
}
.oportunities .accordion .accordion-button span, .questions .accordion .accordion-button span {
  display: inline-block;
}
@media (max-width: 992px) {
  .oportunities .accordion .accordion-button span, .questions .accordion .accordion-button span {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .oportunities .accordion .accordion-button, .questions .accordion .accordion-button {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 576px) {
  .oportunities .accordion .accordion-button, .questions .accordion .accordion-button {
    font-size: 13px;
    line-height: 20px;
  }
}
.oportunities .accordion .accordion-button:after, .questions .accordion .accordion-button:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 30px;
  width: 16px;
  height: 2px;
  background-color: var(--colorMain);
}
@media (max-width: 576px) {
  .oportunities .accordion .accordion-button:after, .questions .accordion .accordion-button:after {
    right: 15px;
    width: 14px;
  }
}
.oportunities .accordion .accordion-button.collapsed:before, .questions .accordion .accordion-button.collapsed:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 37px;
  width: 2px;
  height: 16px;
  background-color: var(--colorMain);
}
@media (max-width: 576px) {
  .oportunities .accordion .accordion-button.collapsed:before, .questions .accordion .accordion-button.collapsed:before {
    right: 21px;
    height: 14px;
  }
}
.oportunities .accordion .accordion-button.collapse:before, .questions .accordion .accordion-button.collapse:before {
  height: 50px;
}

.body-accordion__text {
  line-height: 20px;
}
.body-accordion__btn {
  margin-top: 30px;
}
.body-accordion__list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.body-accordion__list > ul > li {
  margin-bottom: 10px;
  padding-left: 18px;
  position: relative;
}
.body-accordion__list > ul > li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--colorBlue);
}
.body-accordion__list > ul > li:last-child {
  margin-bottom: 0;
}

.contacts {
  padding-top: 180px;
  padding-bottom: 140px;
}
@media (max-width: 768px) {
  .contacts {
    padding-bottom: 80px;
    padding-top: 140px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding-bottom: 50px;
    padding-top: 100px;
  }
}
.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contacts__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contacts__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.contacts__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding-left: 260px;
}
@media (max-width: 1200px) {
  .contacts__right {
    padding-left: 160px;
  }
}
@media (max-width: 992px) {
  .contacts__right {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .contacts__right {
    padding-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .contacts__right {
    padding-left: 0;
    margin-top: 35px;
  }
}
.contacts__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
}
.contacts__block {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}
@media (max-width: 576px) {
  .contacts__block {
    font-size: 16px;
    line-height: 25px;
  }
}
.contacts__block a {
  color: var(--colorMain);
  display: block;
}
@media (max-width: 576px) {
  .contacts__block a {
    font-size: 16px;
    line-height: 26px;
  }
}
.contacts address {
  padding-left: 37px;
  background-image: url("../img/contats-location-svgrepo-com.svg");
  background-position: left 8px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
@media (max-width: 576px) {
  .contacts address {
    background-position: left 5px;
  }
}
.contacts__phone {
  padding-left: 37px;
  background-image: url("../img/contats-phone-svgrepo-com.svg");
  background-position: left 8px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 576px) {
  .contacts__phone {
    background-position: left 5px;
  }
}
.contacts__phone:hover {
  color: var(--colorBlue);
}
.contacts__email {
  padding-left: 37px;
  background-image: url("../img/contats-mail-svgrepo-com.svg");
  background-position: left 8px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 576px) {
  .contacts__email {
    background-position: left 6px;
  }
}
.contacts__email:hover {
  color: var(--colorBlue);
}
.contacts__social {
  margin-top: 20px;
  padding-left: 37px;
}
.contacts__social a {
  margin-right: 10px;
}
.contacts__social a img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contacts__social a img:hover {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 93, 149, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 93, 149, 0.8);
  background-color: #d1e8f8;
}
.contacts__map {
  height: 600px;
}
@media (max-width: 992px) {
  .contacts__map {
    height: 400px;
  }
  .contacts__map iframe {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .contacts__map {
    height: 300px;
  }
  .contacts__map iframe {
    height: 300px;
  }
}

.feed-form {
  margin-top: 20px;
}
.feed-form input, .feed-form textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #A3CEED;
  outline: none;
}
.feed-form input {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 100px;
}
.feed-form textarea {
  padding-left: 120px;
  padding-top: 9px;
  resize: none;
  height: 120px;
}
.feed-form label[for=text] {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
}
.feed-form label {
  display: inline-block;
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}
.feed-form label span {
  color: red;
}
.feed-form__btn {
  margin-top: 40px;
}
/*# sourceMappingURL=main.css.map */